service abkebpfd /system/bin/abkebpfd
    class late_start
    user root
    group root system
    capabilities SYS_ADMIN SETUID SETGID
    seclabel u:r:abkebpfd:s0
    oneshot

on property:sys.boot_completed=1
    start abkebpfd
